.container1{
    width:290px;
    height: 300px;
    margin: 100px;
    perspective: 1500px;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms ;
    transform-style: preserve-3d;
}
.container1:hover > .card{
    cursor: pointer;
    transform:rotateY(180deg);
}
.front,.back{
    height: 300px;
    width: 290px;
    position: absolute;
    backface-visibility: hidden;
    border: 0;;
}
.back{
    overflow: auto;
}
.back{
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.back::-webkit-scrollbar {
  display: none;
} 

