*{
    margin: 0;
}
.footer{
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin : auto;
    background-color: rgb(59, 59, 59);
    margin: auto;
    align-items: center;
}
.f-right{
    display: flex;
}
a{
    text-decoration: none;
    font-size: 15px;
    color : white;
    font-weight: bold;
}
.f-left{
    color: white;
}
h2{
    font-weight: bolder;
    font-size: 30px;
}
p{
    font-size: 15px;
}