.navgraphSection {
    /* background-image: linear-gradient(rgb(204, 204, 1), rgb(159, 245, 109)); */
}
.graph{
    padding: 5%;
}
.side-text {
    background-color: blueviolet;
    padding: 20px 50px;
    padding-left: 9%;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    color: bisque;
    margin-left: 58%;
}
.link{
    transition: 0.7s ease-out;
}
.link:hover {
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}