.header{
    background: linear-gradient(90deg, rgb(60, 24, 157), purple);
    display: flex;
    align-items: center;
    width: 100%;
}
.header img{
    padding: 1%;
}
.header h3{
    color : white;
}
.banner img {
    width: 100%;
    filter: contrast(130%) saturate(120%) brightness(80%);
}
.banner {
    position: relative;
    overflow: hidden;
}
.banner h1{
    font-weight: bolder;
}
.slogan_1, .slogan_2 {
    position: absolute; 
    width: 100%;
    transform: translate(-50%, -50%); 
    font-family: 'Oswald', sans-serif;
    font-size: 800%;
    font-style: italic;
}

.slogan_1 {
    top: 40%;
    left: 5%;
    color: green;
    text-shadow: -10px 5px 20px green;
}

.showFirst {
    left: 55%;
    text-shadow: none;
    transition: left 1s ease-out, text-shadow 1s ease-out;
}

.slogan_2 {
    top: 60%;
    left: 10%; 
    color: darkgreen;
    text-shadow: -10px 5px 20px darkgreen;
}

.showSecond {
    left: 60%;
    text-shadow: none;
    transition: left 1s ease-out, text-shadow 1s ease-out;
}