.description{
    padding: 100px;
    font-size: 20px;
    backdrop-filter: blur(60px);
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.description p,ul{
    color: white;
}
.description h4{
    font-weight: bold;
    color: rgb(255, 253, 253);
}
.description h1{
    color: white;
    font-weight: bolder;
}